{# templates/announcement/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}
{% include 'partials/flash.html.twig' %}
<div class="container">
    <h1>Liste des annonces</h1>
    <div class="row">
        {% for announcement in announcements %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ announcement.jobTitle }}</h5>
                    <p class="card-text">{{ announcement.description }}</p>
                    <p class="card-text"><small class="text-muted">{{ announcement.workPlace }}</small></p>

                    {% if is_granted('ROLE_USER') and app.user.candidate is not null %}
                    
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Postuler
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Voulez-vous bien postuler à cette offre d'emploi ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Finalement non</button>
                                    <a href="/create/{{ announcement.id }}/{{ app.user.candidate.id }}" class="btn btn-primary">Oui, ce job est pour moi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                   <div class="alert alert-warning" role="alert" id="loginAlert{{ announcement.id }}" style="display: none;">
                        Vous devez vous connecter pour pouvoir postuler.
                    </div>
                    <button type="button" class="btn btn-primary" onclick="showLoginAlert('{{ announcement.id }}')">Postuler</button>
                    <script>
                        function showLoginAlert(announcementId) {
                            document.getElementById('loginAlert' + announcementId).style.display = 'block';
                        }
                    </script>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

