{% extends 'base.html.twig' %}

{% block title %}Hello CandidateController!{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 pb-5">
            <!-- Account Sidebar-->
            <div class="author-card pb-3">
                <div class="author-card-cover"></div>
                <div class="author-card-profile">
                    <div class="author-card-avatar"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Daniel Adams">
                    </div>
                    <div class="author-card-details">
                        <h5 class="author-card-name text-lg">{{ user.user.email }}</h5>
                    </div>
                </div>
            </div>
            <div class="wizard">
                <nav class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action" href="#">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fe-icon-shopping-bag mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">Orders List</div>
                            </div>
                            <span class="badge badge-secondary">6</span>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#" target="__blank">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fe-icon-heart mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">Mes candidatures</div>
                            </div><span class="badge badge-secondary">3</span>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#" target="__blank">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fe-icon-tag mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">Mon CV</div>
                            </div><span class="badge badge-secondary">4</span>
                        </div>
                    </a>
                </nav>
            </div>
        </div>
        <!-- Profile Settings-->
        <div class="col-lg-8 pb-5">

        {% include 'partials/flash.html.twig' %}
            
        {{ form_errors(candidateForm) }}

        {{ form_start(candidateForm) }}

        {{ form_row(candidateForm.firstName) }}
        {{ form_row(candidateForm.lastName) }}
        {{ form_row(candidateForm.curriculumVitaeFile) }}

        <button type="submit" class="btn btn-primary">Modifier</button>
        {{ form_end(candidateForm) }}

        </div>
    </div>
</div>

<img src="{{ vich_uploader_asset( user ) }}">

{% endblock %}
